<header ng-switch on="$location.path().indexOf('/Locations/new') > -1">
    <h3 ng-switch-when="true">Create a new Location</h3>
    <h3 ng-switch-when="false">View or edit Location</h3>
</header>
<form id="LocationForm" name="LocationForm" class="form-horizontal" role="form">
    

    <div class="form-group" ng-class="{'has-error': LocationForm.name.$invalid}">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div id="nameControls" class="col-sm-10">
            <input id="name" name="name" type="text" ng-maxlength="50" class="form-control" ng-model="location.name" placeholder="Enter the Location Name"></input>
            <span class="help-block error" ng-show="LocationForm.name.$error.maxlength">maximum length is 50</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': LocationForm.streetAddressLine1.$invalid}">
        <label for="streetAddressLine1" class="col-sm-2 control-label">Street Address Line 1</label>
        <div id="streetAddressLine1Controls" class="col-sm-10">
            <input id="streetAddressLine1" name="streetAddressLine1" type="text" ng-maxlength="150" class="form-control" ng-model="location.streetAddressLine1" placeholder="Enter the Location Street Address Line 1"></input>
            <span class="help-block error" ng-show="LocationForm.streetAddressLine1.$error.maxlength">maximum length is 150</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': LocationForm.streetAddressLine2.$invalid}">
        <label for="streetAddressLine2" class="col-sm-2 control-label">Street Address Line 2</label>
        <div id="streetAddressLine2Controls" class="col-sm-10">
            <input id="streetAddressLine2" name="streetAddressLine2" type="text" ng-maxlength="150" class="form-control" ng-model="location.streetAddressLine2" placeholder="Enter the Location Street Address Line 2"></input>
            <span class="help-block error" ng-show="LocationForm.streetAddressLine2.$error.maxlength">maximum length is 150</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': LocationForm.streetAddressLine3.$invalid}">
        <label for="streetAddressLine3" class="col-sm-2 control-label">Street Address Line 3</label>
        <div id="streetAddressLine3Controls" class="col-sm-10">
            <input id="streetAddressLine3" name="streetAddressLine3" type="text" ng-maxlength="150" class="form-control" ng-model="location.streetAddressLine3" placeholder="Enter the Location Street Address Line 3"></input>
            <span class="help-block error" ng-show="LocationForm.streetAddressLine3.$error.maxlength">maximum length is 150</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': LocationForm.city.$invalid}">
        <label for="city" class="col-sm-2 control-label">City</label>
        <div id="cityControls" class="col-sm-10">
            <input id="city" name="city" type="text" ng-maxlength="150" class="form-control" ng-model="location.city" placeholder="Enter the Location City"></input>
            <span class="help-block error" ng-show="LocationForm.city.$error.maxlength">maximum length is 150</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': LocationForm.state.$invalid}">
        <label for="state" class="col-sm-2 control-label">State</label>
        <div id="stateControls" class="col-sm-10">
            <input id="state" name="state" type="text" ng-maxlength="50" class="form-control" ng-model="location.state" placeholder="Enter the Location State"></input>
            <span class="help-block error" ng-show="LocationForm.state.$error.maxlength">maximum length is 50</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': LocationForm.postalCode.$invalid}">
        <label for="postalCode" class="col-sm-2 control-label">Postal Code</label>
        <div id="postalCodeControls" class="col-sm-10">
            <input id="postalCode" name="postalCode" type="text" ng-maxlength="20" class="form-control" ng-model="location.postalCode" placeholder="Enter the Location Postal Code"></input>
            <span class="help-block error" ng-show="LocationForm.postalCode.$error.maxlength">maximum length is 20</span>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveLocation" name="saveLocation" class="btn btn-primary" ng-disabled="isClean() || LocationForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteLocation" name="deleteLocation" class="btn btn-danger" ng-show="location.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>