<div class="form-horizontal">
    <h3>Create a new Location</h3>
    <div class="form-group">
        <div class="col-md-offset-2 col-sm-2">
            <a id="Create" name="Create" class="btn btn-primary" href="#/Locations/new"><span class="glyphicon glyphicon-plus-sign"></span> Create</a>
        </div>
    </div>
</div>
<hr/>
<div>
    <h3>Search for Locations</h3>
    <form id="LocationSearch" class="form-horizontal">
        

    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            <input id="name" name="name" class="form-control" type="text" ng-model="search.name" placeholder="Enter the Location Name"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="streetAddressLine1" class="col-sm-2 control-label">Street Address Line 1</label>
        <div class="col-sm-10">
            <input id="streetAddressLine1" name="streetAddressLine1" class="form-control" type="text" ng-model="search.streetAddressLine1" placeholder="Enter the Location Street Address Line 1"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="streetAddressLine2" class="col-sm-2 control-label">Street Address Line 2</label>
        <div class="col-sm-10">
            <input id="streetAddressLine2" name="streetAddressLine2" class="form-control" type="text" ng-model="search.streetAddressLine2" placeholder="Enter the Location Street Address Line 2"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="streetAddressLine3" class="col-sm-2 control-label">Street Address Line 3</label>
        <div class="col-sm-10">
            <input id="streetAddressLine3" name="streetAddressLine3" class="form-control" type="text" ng-model="search.streetAddressLine3" placeholder="Enter the Location Street Address Line 3"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="city" class="col-sm-2 control-label">City</label>
        <div class="col-sm-10">
            <input id="city" name="city" class="form-control" type="text" ng-model="search.city" placeholder="Enter the Location City"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="state" class="col-sm-2 control-label">State</label>
        <div class="col-sm-10">
            <input id="state" name="state" class="form-control" type="text" ng-model="search.state" placeholder="Enter the Location State"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="postalCode" class="col-sm-2 control-label">Postal Code</label>
        <div class="col-sm-10">
            <input id="postalCode" name="postalCode" class="form-control" type="text" ng-model="search.postalCode" placeholder="Enter the Location Postal Code"></input>
        </div>
    </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-sm-10">
                <a id="Search" name="Search" class="btn btn-primary" ng-click="performSearch()"><span class="glyphicon glyphicon-search"></span> Search</a>
            </div>
        </div>
    </form>
</div>
<div id="search-results">
        <div class="table-responsive">
        <table class="table table-responsive table-bordered table-striped clearfix">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Street Address Line 1</th>
                    <th>Street Address Line 2</th>
                    <th>Street Address Line 3</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Postal Code</th>
                </tr>
            </thead>
            <tbody id="search-results-body">
                <tr ng-repeat="result in filteredResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                    <td><a href="#/Locations/edit/{{result.id}}">{{result.name}}</a></td>
                    <td><a href="#/Locations/edit/{{result.id}}">{{result.streetAddressLine1}}</a></td>
                    <td><a href="#/Locations/edit/{{result.id}}">{{result.streetAddressLine2}}</a></td>
                    <td><a href="#/Locations/edit/{{result.id}}">{{result.streetAddressLine3}}</a></td>
                    <td><a href="#/Locations/edit/{{result.id}}">{{result.city}}</a></td>
                    <td><a href="#/Locations/edit/{{result.id}}">{{result.state}}</a></td>
                    <td><a href="#/Locations/edit/{{result.id}}">{{result.postalCode}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>

        <ul class="pagination pagination-centered">
        <li ng-class="{disabled:currentPage == 0}">
            <a id="prev" href ng-click="previous()">«</a>
        </li>
        <li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
            <a href ng-bind="n + 1">1</a>
        </li>
        <li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
            <a id="next" href ng-click="next()">»</a>
        </li>
    </ul>

</div>