<header ng-switch on="$location.path().indexOf('/Tenants/new') > -1">
    <h3 ng-switch-when="true">Create a new Tenant</h3>
    <h3 ng-switch-when="false">View or edit Tenant</h3>
</header>
<form id="TenantForm" name="TenantForm" class="form-horizontal" role="form">
    

    <div class="form-group" ng-class="{'has-error': TenantForm.name.$invalid}">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div id="nameControls" class="col-sm-10">
            <input id="name" name="name" type="text" ng-maxlength="50" class="form-control" ng-model="tenant.name" placeholder="Enter the Tenant Name"></input>
            <span class="help-block error" ng-show="TenantForm.name.$error.maxlength">maximum length is 50</span>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveTenant" name="saveTenant" class="btn btn-primary" ng-disabled="isClean() || TenantForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteTenant" name="deleteTenant" class="btn btn-danger" ng-show="tenant.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>