<header ng-switch on="$location.path().indexOf('/ListContactRoles/new') > -1">
    <h3 ng-switch-when="true">Create a new ListContactRole</h3>
    <h3 ng-switch-when="false">View or edit ListContactRole</h3>
</header>
<form id="ListContactRoleForm" name="ListContactRoleForm" class="form-horizontal" role="form">
    

    <div class="form-group" ng-class="{'has-error': ListContactRoleForm.roleName.$invalid}">
        <label for="roleName" class="col-sm-2 control-label">Role Name</label>
        <div id="roleNameControls" class="col-sm-10">
            <input id="roleName" name="roleName" type="text" ng-maxlength="30" class="form-control" ng-model="listContactRole.roleName" placeholder="Enter the ListContactRole Role Name"></input>
            <span class="help-block error" ng-show="ListContactRoleForm.roleName.$error.maxlength">maximum length is 30</span>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveListContactRole" name="saveListContactRole" class="btn btn-primary" ng-disabled="isClean() || ListContactRoleForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteListContactRole" name="deleteListContactRole" class="btn btn-danger" ng-show="listContactRole.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>