<header ng-switch on="$location.path().indexOf('/People/new') > -1">
    <h3 ng-switch-when="true">Create a new Person</h3>
    <h3 ng-switch-when="false">View or edit Person</h3>
</header>
<form id="PersonForm" name="PersonForm" class="form-horizontal" role="form">
    

    <div class="form-group" ng-class="{'has-error': PersonForm.firstName.$invalid}">
        <label for="firstName" class="col-sm-2 control-label">First Name</label>
        <div id="firstNameControls" class="col-sm-10">
            <input id="firstName" name="firstName" type="text" ng-maxlength="50" class="form-control" ng-model="person.firstName" placeholder="Enter the Person First Name"></input>
            <span class="help-block error" ng-show="PersonForm.firstName.$error.maxlength">maximum length is 50</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': PersonForm.lastName.$invalid}">
        <label for="lastName" class="col-sm-2 control-label">Last Name</label>
        <div id="lastNameControls" class="col-sm-10">
            <input id="lastName" name="lastName" type="text" ng-maxlength="50" class="form-control" ng-model="person.lastName" placeholder="Enter the Person Last Name"></input>
            <span class="help-block error" ng-show="PersonForm.lastName.$error.maxlength">maximum length is 50</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': PersonForm.middleName.$invalid}">
        <label for="middleName" class="col-sm-2 control-label">Middle Name</label>
        <div id="middleNameControls" class="col-sm-10">
            <input id="middleName" name="middleName" type="text" ng-maxlength="50" class="form-control" ng-model="person.middleName" placeholder="Enter the Person Middle Name"></input>
            <span class="help-block error" ng-show="PersonForm.middleName.$error.maxlength">maximum length is 50</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': PersonForm.dateOfBirth.$invalid}">
        <label for="dateOfBirth" class="col-sm-2 control-label">Date Of Birth</label>
        <div id="dateOfBirthControls" class="col-sm-10">
            <input id="dateOfBirth" name="dateOfBirth" type="text" class="form-control" ng-model="person.dateOfBirth" placeholder="Enter the Person Date Of Birth"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': PersonForm.phone.$invalid}">
        <label for="phone" class="col-sm-2 control-label">Phone</label>
        <div id="phoneControls" class="col-sm-10">
            <input id="phone" name="phone" type="text" class="form-control" ng-model="person.phone" placeholder="Enter the Person Phone"></input>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="savePerson" name="savePerson" class="btn btn-primary" ng-disabled="isClean() || PersonForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deletePerson" name="deletePerson" class="btn btn-danger" ng-show="person.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>