<div class="form-horizontal">
    <h3>Create a new Person</h3>
    <div class="form-group">
        <div class="col-md-offset-2 col-sm-2">
            <a id="Create" name="Create" class="btn btn-primary" href="#/People/new"><span class="glyphicon glyphicon-plus-sign"></span> Create</a>
        </div>
    </div>
</div>
<hr/>
<div>
    <h3>Search for People</h3>
    <form id="PersonSearch" class="form-horizontal">
        

    <div class="form-group">
        <label for="firstName" class="col-sm-2 control-label">First Name</label>
        <div class="col-sm-10">
            <input id="firstName" name="firstName" class="form-control" type="text" ng-model="search.firstName" placeholder="Enter the Person First Name"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="lastName" class="col-sm-2 control-label">Last Name</label>
        <div class="col-sm-10">
            <input id="lastName" name="lastName" class="form-control" type="text" ng-model="search.lastName" placeholder="Enter the Person Last Name"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="middleName" class="col-sm-2 control-label">Middle Name</label>
        <div class="col-sm-10">
            <input id="middleName" name="middleName" class="form-control" type="text" ng-model="search.middleName" placeholder="Enter the Person Middle Name"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="dateOfBirth" class="col-sm-2 control-label">Date Of Birth</label>
        <div class="col-sm-10">
            <input id="dateOfBirth" name="dateOfBirth" class="form-control" type="text" ng-model="search.dateOfBirth" placeholder="Enter the Person Date Of Birth"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="phone" class="col-sm-2 control-label">Phone</label>
        <div class="col-sm-10">
            <input id="phone" name="phone" class="form-control" type="text" ng-model="search.phone" placeholder="Enter the Person Phone"></input>
        </div>
    </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-sm-10">
                <a id="Search" name="Search" class="btn btn-primary" ng-click="performSearch()"><span class="glyphicon glyphicon-search"></span> Search</a>
            </div>
        </div>
    </form>
</div>
<div id="search-results">
        <div class="table-responsive">
        <table class="table table-responsive table-bordered table-striped clearfix">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Middle Name</th>
                    <th>Date Of Birth</th>
                    <th>Phone</th>
                </tr>
            </thead>
            <tbody id="search-results-body">
                <tr ng-repeat="result in filteredResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                    <td><a href="#/People/edit/{{result.id}}">{{result.firstName}}</a></td>
                    <td><a href="#/People/edit/{{result.id}}">{{result.lastName}}</a></td>
                    <td><a href="#/People/edit/{{result.id}}">{{result.middleName}}</a></td>
                    <td><a href="#/People/edit/{{result.id}}">{{result.dateOfBirth}}</a></td>
                    <td><a href="#/People/edit/{{result.id}}">{{result.phone}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>

        <ul class="pagination pagination-centered">
        <li ng-class="{disabled:currentPage == 0}">
            <a id="prev" href ng-click="previous()">«</a>
        </li>
        <li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
            <a href ng-bind="n + 1">1</a>
        </li>
        <li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
            <a id="next" href ng-click="next()">»</a>
        </li>
    </ul>

</div>