<header ng-switch on="$location.path().indexOf('/ListBusinessEntityTypes/new') > -1">
    <h3 ng-switch-when="true">Create a new ListBusinessEntityType</h3>
    <h3 ng-switch-when="false">View or edit ListBusinessEntityType</h3>
</header>
<form id="ListBusinessEntityTypeForm" name="ListBusinessEntityTypeForm" class="form-horizontal" role="form">
    

    <div class="form-group" ng-class="{'has-error': ListBusinessEntityTypeForm.name.$invalid}">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div id="nameControls" class="col-sm-10">
            <input id="name" name="name" type="text" ng-maxlength="50" class="form-control" ng-model="listBusinessEntityType.name" placeholder="Enter the ListBusinessEntityType Name"></input>
            <span class="help-block error" ng-show="ListBusinessEntityTypeForm.name.$error.maxlength">maximum length is 50</span>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveListBusinessEntityType" name="saveListBusinessEntityType" class="btn btn-primary" ng-disabled="isClean() || ListBusinessEntityTypeForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteListBusinessEntityType" name="deleteListBusinessEntityType" class="btn btn-danger" ng-show="listBusinessEntityType.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>