<header ng-switch on="$location.path().indexOf('/ContactEmails/new') > -1">
    <h3 ng-switch-when="true">Create a new ContactEmail</h3>
    <h3 ng-switch-when="false">View or edit ContactEmail</h3>
</header>
<form id="ContactEmailForm" name="ContactEmailForm" class="form-horizontal" role="form">
    

    <div class="form-group" ng-class="{'has-error': ContactEmailForm.emailAddress.$invalid}">
        <label for="emailAddress" class="col-sm-2 control-label">Email Address</label>
        <div id="emailAddressControls" class="col-sm-10">
            <input id="emailAddress" name="emailAddress" type="text" ng-maxlength="254" class="form-control" ng-model="contactEmail.emailAddress" placeholder="Enter the ContactEmail Email Address"></input>
            <span class="help-block error" ng-show="ContactEmailForm.emailAddress.$error.maxlength">maximum length is 254</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ContactEmailForm.contactRole.$invalid}">
        <label for="contactRole" class="col-sm-2 control-label">Contact Role</label>
        <div id="contactRoleControls" class="col-sm-10">
            <input id="contactRole" name="contactRole" type="text" class="form-control" ng-model="contactEmail.contactRole" placeholder="Enter the ContactEmail Contact Role"></input>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveContactEmail" name="saveContactEmail" class="btn btn-primary" ng-disabled="isClean() || ContactEmailForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteContactEmail" name="deleteContactEmail" class="btn btn-danger" ng-show="contactEmail.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>