<header ng-switch on="$location.path().indexOf('/BusinessEntities/new') > -1">
    <h3 ng-switch-when="true">Create a new BusinessEntity</h3>
    <h3 ng-switch-when="false">View or edit BusinessEntity</h3>
</header>
<form id="BusinessEntityForm" name="BusinessEntityForm" class="form-horizontal" role="form">
    

    <div class="form-group" ng-class="{'has-error': BusinessEntityForm.name.$invalid}">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div id="nameControls" class="col-sm-10">
            <input id="name" name="name" type="text" ng-maxlength="50" class="form-control" ng-model="businessEntity.name" placeholder="Enter the BusinessEntity Name"></input>
            <span class="help-block error" ng-show="BusinessEntityForm.name.$error.maxlength">maximum length is 50</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': BusinessEntityForm.businessEntityType.$invalid}">
        <label for="businessEntityType" class="col-sm-2 control-label">Business Entity Type</label>
        <div id="businessEntityTypeControls" class="col-sm-10">
            <input id="businessEntityType" name="businessEntityType" type="text" class="form-control" ng-model="businessEntity.businessEntityType" placeholder="Enter the BusinessEntity Business Entity Type"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': BusinessEntityForm.tenant.$invalid}">
        <label for="tenant" class="col-sm-2 control-label">Tenant</label>
        <div id="tenantControls" class="col-sm-10">
            <input id="tenant" name="tenant" type="text" class="form-control" ng-model="businessEntity.tenant" placeholder="Enter the BusinessEntity Tenant"></input>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveBusinessEntity" name="saveBusinessEntity" class="btn btn-primary" ng-disabled="isClean() || BusinessEntityForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteBusinessEntity" name="deleteBusinessEntity" class="btn btn-danger" ng-show="businessEntity.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>