<header ng-switch on="$location.path().indexOf('/ListPhoneWirelessCarriers/new') > -1">
    <h3 ng-switch-when="true">Create a new ListPhoneWirelessCarrier</h3>
    <h3 ng-switch-when="false">View or edit ListPhoneWirelessCarrier</h3>
</header>
<form id="ListPhoneWirelessCarrierForm" name="ListPhoneWirelessCarrierForm" class="form-horizontal" role="form">
    

    <div class="form-group" ng-class="{'has-error': ListPhoneWirelessCarrierForm.name.$invalid}">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div id="nameControls" class="col-sm-10">
            <input id="name" name="name" type="text" ng-maxlength="100" class="form-control" ng-model="listPhoneWirelessCarrier.name" placeholder="Enter the ListPhoneWirelessCarrier Name"></input>
            <span class="help-block error" ng-show="ListPhoneWirelessCarrierForm.name.$error.maxlength">maximum length is 100</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ListPhoneWirelessCarrierForm.supportsSms.$invalid}">
        <label for="supportsSms" class="col-sm-2 control-label">Supports Sms</label>
        <div id="supportsSmsControls" class="col-sm-10">
            <input id="supportsSms" name="supportsSms" type="checkbox" class="checkbox" ng-model="listPhoneWirelessCarrier.supportsSms" placeholder="Enter the ListPhoneWirelessCarrier Supports Sms"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ListPhoneWirelessCarrierForm.isSMSEnabled.$invalid}">
        <label for="isSMSEnabled" class="col-sm-2 control-label">Is SMS Enabled</label>
        <div id="isSMSEnabledControls" class="col-sm-10">
            <input id="isSMSEnabled" name="isSMSEnabled" type="checkbox" class="checkbox" ng-model="listPhoneWirelessCarrier.isSMSEnabled" placeholder="Enter the ListPhoneWirelessCarrier Is SMS Enabled"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ListPhoneWirelessCarrierForm.isMMSEnabled.$invalid}">
        <label for="isMMSEnabled" class="col-sm-2 control-label">Is MMS Enabled</label>
        <div id="isMMSEnabledControls" class="col-sm-10">
            <input id="isMMSEnabled" name="isMMSEnabled" type="checkbox" class="checkbox" ng-model="listPhoneWirelessCarrier.isMMSEnabled" placeholder="Enter the ListPhoneWirelessCarrier Is MMS Enabled"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ListPhoneWirelessCarrierForm.smsGatewayDomain.$invalid}">
        <label for="smsGatewayDomain" class="col-sm-2 control-label">Sms Gateway Domain</label>
        <div id="smsGatewayDomainControls" class="col-sm-10">
            <input id="smsGatewayDomain" name="smsGatewayDomain" type="text" ng-maxlength="100" class="form-control" ng-model="listPhoneWirelessCarrier.smsGatewayDomain" placeholder="Enter the ListPhoneWirelessCarrier Sms Gateway Domain"></input>
            <span class="help-block error" ng-show="ListPhoneWirelessCarrierForm.smsGatewayDomain.$error.maxlength">maximum length is 100</span>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveListPhoneWirelessCarrier" name="saveListPhoneWirelessCarrier" class="btn btn-primary" ng-disabled="isClean() || ListPhoneWirelessCarrierForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteListPhoneWirelessCarrier" name="deleteListPhoneWirelessCarrier" class="btn btn-danger" ng-show="listPhoneWirelessCarrier.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>