<div class="form-horizontal">
    <h3>Create a new ListPhoneWirelessCarrier</h3>
    <div class="form-group">
        <div class="col-md-offset-2 col-sm-2">
            <a id="Create" name="Create" class="btn btn-primary" href="#/ListPhoneWirelessCarriers/new"><span class="glyphicon glyphicon-plus-sign"></span> Create</a>
        </div>
    </div>
</div>
<hr/>
<div>
    <h3>Search for ListPhoneWirelessCarriers</h3>
    <form id="ListPhoneWirelessCarrierSearch" class="form-horizontal">
        

    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            <input id="name" name="name" class="form-control" type="text" ng-model="search.name" placeholder="Enter the ListPhoneWirelessCarrier Name"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="supportsSms" class="col-sm-2 control-label">Supports Sms</label>
        <div class="col-sm-10">
            <select id="supportsSms" name="supportsSms" class="form-control" ng-model="search.supportsSms" ng-options="s as s for s in supportsSmsList">
                <option value="">Choose a Supports Sms</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="isSMSEnabled" class="col-sm-2 control-label">Is SMS Enabled</label>
        <div class="col-sm-10">
            <select id="isSMSEnabled" name="isSMSEnabled" class="form-control" ng-model="search.isSMSEnabled" ng-options="i as i for i in isSMSEnabledList">
                <option value="">Choose a Is SMS Enabled</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="isMMSEnabled" class="col-sm-2 control-label">Is MMS Enabled</label>
        <div class="col-sm-10">
            <select id="isMMSEnabled" name="isMMSEnabled" class="form-control" ng-model="search.isMMSEnabled" ng-options="i as i for i in isMMSEnabledList">
                <option value="">Choose a Is MMS Enabled</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="smsGatewayDomain" class="col-sm-2 control-label">Sms Gateway Domain</label>
        <div class="col-sm-10">
            <input id="smsGatewayDomain" name="smsGatewayDomain" class="form-control" type="text" ng-model="search.smsGatewayDomain" placeholder="Enter the ListPhoneWirelessCarrier Sms Gateway Domain"></input>
        </div>
    </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-sm-10">
                <a id="Search" name="Search" class="btn btn-primary" ng-click="performSearch()"><span class="glyphicon glyphicon-search"></span> Search</a>
            </div>
        </div>
    </form>
</div>
<div id="search-results">
        <div class="table-responsive">
        <table class="table table-responsive table-bordered table-striped clearfix">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Supports Sms</th>
                    <th>Is SMS Enabled</th>
                    <th>Is MMS Enabled</th>
                    <th>Sms Gateway Domain</th>
                </tr>
            </thead>
            <tbody id="search-results-body">
                <tr ng-repeat="result in filteredResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                    <td><a href="#/ListPhoneWirelessCarriers/edit/{{result.id}}">{{result.name}}</a></td>
                    <td><a href="#/ListPhoneWirelessCarriers/edit/{{result.id}}">{{result.supportsSms}}</a></td>
                    <td><a href="#/ListPhoneWirelessCarriers/edit/{{result.id}}">{{result.isSMSEnabled}}</a></td>
                    <td><a href="#/ListPhoneWirelessCarriers/edit/{{result.id}}">{{result.isMMSEnabled}}</a></td>
                    <td><a href="#/ListPhoneWirelessCarriers/edit/{{result.id}}">{{result.smsGatewayDomain}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>

        <ul class="pagination pagination-centered">
        <li ng-class="{disabled:currentPage == 0}">
            <a id="prev" href ng-click="previous()">«</a>
        </li>
        <li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
            <a href ng-bind="n + 1">1</a>
        </li>
        <li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
            <a id="next" href ng-click="next()">»</a>
        </li>
    </ul>

</div>