<header ng-switch on="$location.path().indexOf('/ContactPhones/new') > -1">
    <h3 ng-switch-when="true">Create a new ContactPhone</h3>
    <h3 ng-switch-when="false">View or edit ContactPhone</h3>
</header>
<form id="ContactPhoneForm" name="ContactPhoneForm" class="form-horizontal" role="form">
    

    <div class="form-group" ng-class="{'has-error': ContactPhoneForm.phoneNumber.$invalid}">
        <label for="phoneNumber" class="col-sm-2 control-label">Phone Number</label>
        <div id="phoneNumberControls" class="col-sm-10">
            <input id="phoneNumber" name="phoneNumber" type="text" ng-maxlength="15" class="form-control" ng-model="contactPhone.phoneNumber" placeholder="Enter the ContactPhone Phone Number"></input>
            <span class="help-block error" ng-show="ContactPhoneForm.phoneNumber.$error.maxlength">maximum length is 15</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ContactPhoneForm.contactRole.$invalid}">
        <label for="contactRole" class="col-sm-2 control-label">Contact Role</label>
        <div id="contactRoleControls" class="col-sm-10">
            <input id="contactRole" name="contactRole" type="text" class="form-control" ng-model="contactPhone.contactRole" placeholder="Enter the ContactPhone Contact Role"></input>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveContactPhone" name="saveContactPhone" class="btn btn-primary" ng-disabled="isClean() || ContactPhoneForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteContactPhone" name="deleteContactPhone" class="btn btn-danger" ng-show="contactPhone.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>