<!DOCTYPE html>
<html lang="en" ng-app="taoDataSvc">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Tao Data Svc</title>
    <link href="styles/bootstrap.css" rel="stylesheet" media="screen">
    <link href="styles/bootstrap-theme.css" rel="stylesheet" media="screen">
    <link href="styles/main.css" rel="stylesheet" media="screen">
</head>
<body>
    <div id="wrap">
    	
    	<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="offcanvas">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
				    <a class="navbar-brand" href="#">Tao Data Svc</a>
			    </div>
			</div>
    	</div>
        
        <div class="container">
            <div class="row row-offcanvas row-offcanvas-left">
                <!-- sidebar -->
                <div class="col-xs-6 col-sm-3 well sidebar-offcanvas">
                    <a href="app.html">
                        <img class="hidden-xs img-responsive" src="img/forge-logo.png" alt="JBoss Forge"></img>
                    </a>
                    <nav class="sidebar-nav" ng-controller="NavController" role="navigation">
                        <div id="sidebar-entries" class="list-group">
                        	<a class="list-group-item" ng-class="{active: matchesRoute('BusinessEntities')}" href="#/BusinessEntities" data-toggle="offcanvas">BusinessEntities</a>
                        	<a class="list-group-item" ng-class="{active: matchesRoute('ContactAddresses')}" href="#/ContactAddresses" data-toggle="offcanvas">ContactAddresses</a>
                        	<a class="list-group-item" ng-class="{active: matchesRoute('ContactEmails')}" href="#/ContactEmails" data-toggle="offcanvas">ContactEmails</a>
                        	<a class="list-group-item" ng-class="{active: matchesRoute('ContactPhones')}" href="#/ContactPhones" data-toggle="offcanvas">ContactPhones</a>
                        	<a class="list-group-item" ng-class="{active: matchesRoute('ListBusinessEntityTypes')}" href="#/ListBusinessEntityTypes" data-toggle="offcanvas">ListBusinessEntityTypes</a>
                        	<a class="list-group-item" ng-class="{active: matchesRoute('ListContactRoles')}" href="#/ListContactRoles" data-toggle="offcanvas">ListContactRoles</a>
                        	<a class="list-group-item" ng-class="{active: matchesRoute('ListPersonRoles')}" href="#/ListPersonRoles" data-toggle="offcanvas">ListPersonRoles</a>
                        	<a class="list-group-item" ng-class="{active: matchesRoute('ListPhoneWirelessCarriers')}" href="#/ListPhoneWirelessCarriers" data-toggle="offcanvas">ListPhoneWirelessCarriers</a>
                        	<a class="list-group-item" ng-class="{active: matchesRoute('Locations')}" href="#/Locations" data-toggle="offcanvas">Locations</a>
                        	<a class="list-group-item" ng-class="{active: matchesRoute('People')}" href="#/People" data-toggle="offcanvas">People</a>
                        	<a class="list-group-item" ng-class="{active: matchesRoute('Tenants')}" href="#/Tenants" data-toggle="offcanvas">Tenants</a>
                        </div>
                    </nav>
                </div>
                <!-- main area-->
                <div class="col-sm-offset-1 col-xs-12 col-sm-8 well mainarea">
                    <div ng-controller="FlashController" class="alert alert-dismissible" ng-class="'alert-' + flash.getMessage().cssClass" role="alert" ng-show="showAlert">
                        <button type="button" class="close" ng-click="hideAlert()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{flash.getMessage().text}}
                    </div>
                    <div id="main" ng-view>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="footer">
        <div class="container">
            <p>Powered by <a href="http://jboss.org/forge">Forge</a></p>
            <p><a href="http://glyphicons.com">Glyphicons Free</a> licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
        </div>
    </div>
    
    <script src="scripts/vendor/modernizr-2.8.3.min.js"></script>
    <script src="scripts/vendor/jquery-2.1.1.js"></script>
    <script src="scripts/vendor/bootstrap.js"></script>
    <script src="scripts/vendor/angular.js"></script>
    <script src="scripts/vendor/angular-route.js"></script>
    <script src="scripts/vendor/angular-resource.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/offcanvas.js"></script>
    <script src="scripts/directives/datepicker.js"></script>
    <script src="scripts/directives/timepicker.js"></script>
    <script src="scripts/directives/datetimepicker.js"></script>
    <script src="scripts/filters/startFromFilter.js"></script>
    <script src="scripts/filters/genericSearchFilter.js"></script>
    <script src="scripts/services/flash.js"></script>
    <script src="scripts/services/locationParser.js"></script>
    <script src="scripts/controllers/flashController.js"></script>
    <script src="scripts/services/BusinessEntityFactory.js"></script>
    <script src="scripts/controllers/newBusinessEntityController.js"></script>
    <script src="scripts/controllers/searchBusinessEntityController.js"></script>
    <script src="scripts/controllers/editBusinessEntityController.js"></script>
    <script src="scripts/services/ContactAddressFactory.js"></script>
    <script src="scripts/controllers/newContactAddressController.js"></script>
    <script src="scripts/controllers/searchContactAddressController.js"></script>
    <script src="scripts/controllers/editContactAddressController.js"></script>
    <script src="scripts/services/ContactEmailFactory.js"></script>
    <script src="scripts/controllers/newContactEmailController.js"></script>
    <script src="scripts/controllers/searchContactEmailController.js"></script>
    <script src="scripts/controllers/editContactEmailController.js"></script>
    <script src="scripts/services/ContactPhoneFactory.js"></script>
    <script src="scripts/controllers/newContactPhoneController.js"></script>
    <script src="scripts/controllers/searchContactPhoneController.js"></script>
    <script src="scripts/controllers/editContactPhoneController.js"></script>
    <script src="scripts/services/ListBusinessEntityTypeFactory.js"></script>
    <script src="scripts/controllers/newListBusinessEntityTypeController.js"></script>
    <script src="scripts/controllers/searchListBusinessEntityTypeController.js"></script>
    <script src="scripts/controllers/editListBusinessEntityTypeController.js"></script>
    <script src="scripts/services/ListContactRoleFactory.js"></script>
    <script src="scripts/controllers/newListContactRoleController.js"></script>
    <script src="scripts/controllers/searchListContactRoleController.js"></script>
    <script src="scripts/controllers/editListContactRoleController.js"></script>
    <script src="scripts/services/ListPersonRoleFactory.js"></script>
    <script src="scripts/controllers/newListPersonRoleController.js"></script>
    <script src="scripts/controllers/searchListPersonRoleController.js"></script>
    <script src="scripts/controllers/editListPersonRoleController.js"></script>
    <script src="scripts/services/ListPhoneWirelessCarrierFactory.js"></script>
    <script src="scripts/controllers/newListPhoneWirelessCarrierController.js"></script>
    <script src="scripts/controllers/searchListPhoneWirelessCarrierController.js"></script>
    <script src="scripts/controllers/editListPhoneWirelessCarrierController.js"></script>
    <script src="scripts/services/LocationFactory.js"></script>
    <script src="scripts/controllers/newLocationController.js"></script>
    <script src="scripts/controllers/searchLocationController.js"></script>
    <script src="scripts/controllers/editLocationController.js"></script>
    <script src="scripts/services/PersonFactory.js"></script>
    <script src="scripts/controllers/newPersonController.js"></script>
    <script src="scripts/controllers/searchPersonController.js"></script>
    <script src="scripts/controllers/editPersonController.js"></script>
    <script src="scripts/services/TenantFactory.js"></script>
    <script src="scripts/controllers/newTenantController.js"></script>
    <script src="scripts/controllers/searchTenantController.js"></script>
    <script src="scripts/controllers/editTenantController.js"></script>
</body>
</html>