<header ng-switch on="$location.path().indexOf('/ContactAddresses/new') > -1">
    <h3 ng-switch-when="true">Create a new ContactAddress</h3>
    <h3 ng-switch-when="false">View or edit ContactAddress</h3>
</header>
<form id="ContactAddressForm" name="ContactAddressForm" class="form-horizontal" role="form">
    

    <div class="form-group" ng-class="{'has-error': ContactAddressForm.contactRole.$invalid}">
        <label for="contactRole" class="col-sm-2 control-label">Contact Role</label>
        <div id="contactRoleControls" class="col-sm-10">
            <input id="contactRole" name="contactRole" type="text" class="form-control" ng-model="contactAddress.contactRole" placeholder="Enter the ContactAddress Contact Role"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ContactAddressForm.streetAddressLine1.$invalid}">
        <label for="streetAddressLine1" class="col-sm-2 control-label">Street Address Line 1</label>
        <div id="streetAddressLine1Controls" class="col-sm-10">
            <input id="streetAddressLine1" name="streetAddressLine1" type="text" ng-maxlength="150" class="form-control" ng-model="contactAddress.streetAddressLine1" placeholder="Enter the ContactAddress Street Address Line 1"></input>
            <span class="help-block error" ng-show="ContactAddressForm.streetAddressLine1.$error.maxlength">maximum length is 150</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ContactAddressForm.streetAddressLine2.$invalid}">
        <label for="streetAddressLine2" class="col-sm-2 control-label">Street Address Line 2</label>
        <div id="streetAddressLine2Controls" class="col-sm-10">
            <input id="streetAddressLine2" name="streetAddressLine2" type="text" ng-maxlength="150" class="form-control" ng-model="contactAddress.streetAddressLine2" placeholder="Enter the ContactAddress Street Address Line 2"></input>
            <span class="help-block error" ng-show="ContactAddressForm.streetAddressLine2.$error.maxlength">maximum length is 150</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ContactAddressForm.streetAddressLine3.$invalid}">
        <label for="streetAddressLine3" class="col-sm-2 control-label">Street Address Line 3</label>
        <div id="streetAddressLine3Controls" class="col-sm-10">
            <input id="streetAddressLine3" name="streetAddressLine3" type="text" ng-maxlength="150" class="form-control" ng-model="contactAddress.streetAddressLine3" placeholder="Enter the ContactAddress Street Address Line 3"></input>
            <span class="help-block error" ng-show="ContactAddressForm.streetAddressLine3.$error.maxlength">maximum length is 150</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ContactAddressForm.city.$invalid}">
        <label for="city" class="col-sm-2 control-label">City</label>
        <div id="cityControls" class="col-sm-10">
            <input id="city" name="city" type="text" ng-maxlength="150" class="form-control" ng-model="contactAddress.city" placeholder="Enter the ContactAddress City"></input>
            <span class="help-block error" ng-show="ContactAddressForm.city.$error.maxlength">maximum length is 150</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ContactAddressForm.state.$invalid}">
        <label for="state" class="col-sm-2 control-label">State</label>
        <div id="stateControls" class="col-sm-10">
            <input id="state" name="state" type="text" ng-maxlength="50" class="form-control" ng-model="contactAddress.state" placeholder="Enter the ContactAddress State"></input>
            <span class="help-block error" ng-show="ContactAddressForm.state.$error.maxlength">maximum length is 50</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ContactAddressForm.postalCode.$invalid}">
        <label for="postalCode" class="col-sm-2 control-label">Postal Code</label>
        <div id="postalCodeControls" class="col-sm-10">
            <input id="postalCode" name="postalCode" type="text" ng-maxlength="20" class="form-control" ng-model="contactAddress.postalCode" placeholder="Enter the ContactAddress Postal Code"></input>
            <span class="help-block error" ng-show="ContactAddressForm.postalCode.$error.maxlength">maximum length is 20</span>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveContactAddress" name="saveContactAddress" class="btn btn-primary" ng-disabled="isClean() || ContactAddressForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteContactAddress" name="deleteContactAddress" class="btn btn-danger" ng-show="contactAddress.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>